In [20]:
import pandas as pd

In [22]:
data = pd.read_csv("human_annotation.csv")
data.drop(columns=["Unnamed: 1"], inplace=True)
data.head(5)

  Unnamed: 0
0          1
1        2/3
2        NaN
3          0
4          1

In [23]:
data = data.dropna()
data.head()

  Unnamed: 0
0          1
1        2/3
3          0
4          1
5        3/5

In [25]:
def frac_to_float(x):
    try:
        if '/' in x:
            num, denom = map(float, x.split('/'))
            return num / denom
        return float(x)
    except:
        return np.nan

data['Unnamed: 0'] = data['Unnamed: 0'].apply(frac_to_float)

print(data['Unnamed: 0'].head(10))

0     1.000000
1     0.666667
3     0.000000
4     1.000000
5     0.600000
6     0.800000
7     1.000000
8     1.000000
9     0.000000
10    1.000000
Name: Unnamed: 0, dtype: float64

In [26]:
data['Unnamed: 0'].mean()

0.5063657407407407

In [7]:
import pandas as pd

# 假设文件名为 'data.csv'
df = pd.read_csv('data.csv', header=None, names=['acc', 'predicted'])

# 将 'NA' 识别为缺失值
df = df.replace('NA', pd.NA)

# 显示DataFrame
print(df)

TypeError: initial_value must be str or None, not DataFrame